.boxProduct{
    text-align: center;
    margin-bottom: 30px;
}
.priceProduct {
    font-weight: bold;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  label{
    font-weight: 100;
  }

.command{
  margin-top: 5%;
}
